<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/welcome.css" />
    <title>Tech Notes</title>
  </head>
  <body>
    <div id="welcome__page">
      <div class="welcome__page">
        <div class="welcome__page-main">
          <h1><span>T</span><span>e</span><span>c</span><span>h</span></h1>
          <h1>
            <span>N</span><span>o</span><span>t</span><span>e</span
            ><span>s</span>
          </h1>
        </div>
        <div class="center">
          <a href="auth/login"> Login <span></span></a>
        </div>
      </div>
    </div>
  </body>
</html>
